<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Spa a domicilio, productos selfcare natural">
    <meta name="keywords"  content="spa a domicilio, relajo, masaje, depilacion, belleza, facial, mujer bonita, reiki, renueva tu energia, descansa, relajate en pareja, desconectate, masaje descontracturante, masaje reductivo ">

    <title>Mujer Bonita - Servicios - Belleza</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	
  </head>
  <body>
	<div class="container-fluid">
		<!--Menu-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark textnav">
			<a class="navbar-brand" href="../index.html">
					<img class="iso" alt="Brand" src="../img/isoMb.png">
			</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="../index.html">INICIO</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						SERVICIOS
					</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="../views/belleza.html">BELLEZA<span class="sr-only">(current)</span></a>
							<a class="dropdown-item" href="../views/relax.html">RELAJACIÓN</a>
							<a class="dropdown-item" href="../views/experiencias.html">EXPERIENCIAS</a>
							<a class="dropdown-item" href="#">RESERVAS</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						PRODUCTOS
					</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">TODOS</a>
							<a class="dropdown-item" href="#">JABONES</a>
							<a class="dropdown-item" href="#">EXFOLIANTES</a>
							<a class="dropdown-item" href="#">SALES DE BAÑO</a>
							<a class="dropdown-item" href="#">MASCARILLAS</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">BLOG</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">CONTACTO</a>
					</li>
				</ul>
			</div>
        </nav>
       
        <section class="row flui-container full">
            <div class="row d-flex justify-content-end">
                <div class="col-12 col-lg-4 txtserv">
                    <h2><strong>Belleza</strong></h2>
                    <p>Contamos con variados servicios de belleza para ti, aprovecha nuestros packs promocionales.</p> <p><strong>Agenda tu ahora ya!</strong></p>
                    <div class="d-flex justify-content-end bottom top"> 
                        <a href="relax.html">
                        <svg width="6em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
                        </svg></a>
                    </div> 
                </div>
                <div class="container00 col-12 col-sm-6 col-md-6 col-lg-4">
                    <img src="../img/servicios/b01.jpg" class="image00">
                    <div class="overlay02">
                        <div class="text00">ondulación de pestañas
                            <ul>
                                <li>Ondulación permanente simple: <strong>$0.000</strong></li>
                                <li>Ondulación permanente con tinte: <strong>$0.000</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container00 col-12 col-sm-6 col-md-6 col-lg-4">
                    <img src="../img/servicios/b09.jpg" class="image00">
                    <div class="overlay03">
                        <div class="text00">perfilado de cejas
                            <ul>
                                <li>Perfilado de Cejas: <strong>$0.000</strong></li>
                                <li>Depilación Zona Pequeña Rostro: <strong>$0.000</strong></li>
                                <li>Depilación Rostro Completo: <strong>$0.000</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container04 col-12 col-sm-6 col-md-4 col-lg-6">
                    <img src="../img/servicios/b02.jpg" class="image04">
                    <div class="overlay04">
                        <div class="text00">Especial Rostro
                            <ul>
                                <li>•   Limpieza facial simple</li>
                                <li>•	Perfilamiento de cejas</li>
                                <li>•	Ondulación de pestañas</li>
                            </ul>
                            <span class="precio">$0.000</span>
                        </div>
                    </div>
                </div>
                <div class="container01 col-12 col-sm-6 col-md-8 col-lg-6">
                    <img src="../img/servicios/b03.jpg" class="image01">
                    <div class="overlay01">
                        <div class="text01">limpieza facial profunda
                            <ul>
                                <li>Higienización de la piel / Peeling ultrasónico</li>
                                <li>Vaporizador / Extracción de comedones</li>
                                <li>Alta frecuencia / Mascarilla  </li>
                                <li>Ampolla ácido hialurónico / Crema hidrantante  </li>
                                <li>Masajes y drenaje facial / Agua termal </li>
                            </ul>
                            <span class="precio">$0.000</span>
                        </div>
                    </div>
                </div>
                <div class="container05 col-6 col-sm-6 col-md-4 col-lg-3">
                    <img src="../img/servicios/b07.jpg" class="image05">
                    <div class="overlay05">
                        <div class="text05">Depilación Rostro
                            <ul>
                                <li>Bozo <strong>$0.000</strong></li>
                                <li>Patillas <strong>$0.000</strong></li>
                                <li>Zona Rostro <strong>$0.000</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container05 col-6 col-sm-6 col-md-4 col-lg-3">
                    <img src="../img/servicios/b06.jpg" class="image05">
                    <div class="overlay05">
                        <div class="text05">Dep. Zona Media
                            <ul>
                                <li>Axila <strong>$0.000</strong></li>
                                <li>Brazos <strong>$0.000</strong></li>
                                <li>Línea Abdomen <strong>$0.000</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container05 col-6 col-sm-6 col-md-4 col-lg-3">
                    <img src="../img/servicios/b04.jpg" class="image05">
                    <div class="overlay05">
                        <div class="text05">Depilación Pierna
                            <ul>
                                <li>Media Pierna <strong>$0.000</strong></li>
                                <li>Pierna Completa <strong>$0.000</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container05 col-6 col-sm-6 col-md-4 col-lg-3">
                    <img src="../img/servicios/b05.jpg" class="image05">
                    <div class="overlay05">
                        <div class="text05">Dep. Zona Baja
                            <ul>
                                <li>Rebaje Full <strong>$0.000</strong></li>
                                <li>Rebaje Corto <strong>$0.000</strong></li>
                                <li>Línea interglutea <strong>$0.000</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </section>
	</div>
	<!--footer-->

		<div class="row footer full align-items-center">
			<ul class="list-inline">
				<li class="list-inline-item">Instagram</li>
				<li class="list-inline-item">Facebook</li>
				<li class="list-inline-item">Contacto</li>
				<li class="list-inline-item">Diseño by Calu Wonder 2020</li>
			</ul>
		</div>
	</div>
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
   	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</body>
</html>
