<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mujer Bonita - Servicios - Belleza</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/ca26b6db37.js" crossorigin="anonymous"></script>
  </head>
  <body>
	<div class="container-fluid">
		<!--Menu-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark textnav">
			<a class="navbar-brand" href="../index.html">
					<img class="iso" alt="Brand" src="../img/isoMb.png">
			</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="../index.html">INICIO</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						SERVICIOS
					</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="../views/belleza.html">BELLEZA</a>
							<a class="dropdown-item" href="../views/relax.html">RELAJACIÓN<span class="sr-only">(current)</span></a>
							<a class="dropdown-item" href="../views/experiencias.html">EXPERIENCIAS</a>
							<a class="dropdown-item" href="#">RESERVAS</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						PRODUCTOS
					</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="jabones.html">JABONES</a>
							<a class="dropdown-item" href="exfoliantes.html">EXFOLIANTES</a>
							<a class="dropdown-item" href="#">SALES DE BAÑO</a>
							<a class="dropdown-item" href="#">MASCARILLAS</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="blog.html">BLOG</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">CONTACTO</a>
					</li>
				</ul>
			</div>
		</nav>
	<section>
		<div class="d-flex justify-content-center col-10 offset-1">
			<ul class="txtblog-articulo">
				<li><h2>Tratamientos faciales caseros, </h2><h2>¿cómo cuidar la piel de tu rostro en casa?</h2></li>
				<li><img src="../img/blogmasc.png" class="imgblogmain"></li>
				<li><p>Hacer mascarillas caseras no es tarea fácil ya que en internet circulan muchas
					recetas que no son buenas para tu rostro, por que sí, la piel del rostro es mucho más delicada que toda 
					la del resto del cuerpo, usar azúcar, café o miel pueden ser muy destructivos con la barrera de la piel,
					por eso acá <strong>contaremos algunos secretos que serán mágicos para tu piel.</strong> </p></li>
				<li><p>1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ea iusto ullam quis, recusandae est aliquam, cupiditate quae voluptatibus labore ad eius minima blanditiis voluptates impedit saepe, id consectetur culpa!</p></li>
				<li><p>2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ea iusto ullam quis, recusandae est aliquam, cupiditate quae voluptatibus labore ad eius minima blanditiis voluptates impedit saepe, id consectetur culpa!</p></li>
				<li><p>3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ea iusto ullam quis, recusandae est aliquam, cupiditate quae voluptatibus labore ad eius minima blanditiis voluptates impedit saepe, id consectetur culpa!</p></li>
				<li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At cumque id ab deserunt, non minus cum fugit corporis ad in numquam reiciendis eligendi aperiam aliquam, nesciunt ratione repellat earum atque.</p></li>
			</ul>
		</div>
	</section>
	<div class="col-10 offset-1 divisor"></div>
	<section>
		<div class="container d-flex justify-content-around">
			<div  class="menu blog-img" data-animation="diagonal">
				<ul><a>
					<li><img src="../img/blog/jabon-blog.jpg"></li>
					<li class="text-blog">Te contamos TODO! sobre nuestros productos. ¿Ya los probaste?</li>
					<li class="btn-blog">Leer más+</li>
					<span class="border border-top"></span>
					<span class="border border-right"></span>
					<span class="border border-bottom"></span>
					<span class="border border-left"></span>
					</a>	
				</ul>
			</div>
			<div  class="menu blog-img" data-animation="diagonal">
				<ul><a>
					<li><img src="../img/blog/natural-blog.jpg"></li>
					<li class="text-blog">¿Sabes para que sirven y como usar los ingredientes naturales?</li>
					<li class="btn-blog">Leer más+</li>
					<span class="border border-top"></span>
					<span class="border border-right"></span>
					<span class="border border-bottom"></span>
					<span class="border border-left"></span>
					</a>	
				</ul>
			</div>
			<div  class="menu blog-img" data-animation="diagonal">
				<ul><a>
					<li><img src="../img/blog/carbon-blog.jpg"></li>
					<li class="text-blog">¿Conodes el Carbón activado? Te lo contamos todo!</li>
					<li class="btn-blog">Leer más+</li>
					<span class="border border-top"></span>
					<span class="border border-right"></span>
					<span class="border border-bottom"></span>
					<span class="border border-left"></span>
					</a>	
				</ul>	
			</div>
		</div>
	</section>


<!--footer-->

<div class="row footer">
    <div class="column col-11 offset-1 col-md-2 offset-md-1 ft align-self-center">
        <a href="#">Quienes Somos</a>
        <a href="#">Qué hacemos</a>
        <a href="#">Nuestros Productos</a>
        <a href="#">Blog</a>
    </div>
    <div class="col-10 offset-1 col-md-4 d-flex align-self-center column sq">
        <span class="ft">Conoce Nuestras Novedades</span>
        <form>
        <div class="d-flex justify-content-between">
            <input class="tag ft" type="name" name="Nombre" size="60" placeholder="Nombre*" aria-required="true"></input>
        </div>
        <div class="d-flex justify-content-between">
            <input class="tag ft" type="email" name="email" size="60" placeholder="Email*" aria-required="true"></input>
        </div>
        <div class="d-flex justify-content-end">
            <input class="send" type="submit" name="enviar"></input>
        </div>
        </form>
    </div>
    <div class="col-11 offset-1 offset-md-1 col-md-3 d-md-flex">
        <ul class="flex-md-column">
            <li class="ft ">
                <a href="https://www.instagram.com/somosmujeresbonitas/" target="blank_">Síguenos<i class="fab fa-instagram icon"></i></a>
            </li>
            <li class="ft">
                <a href="https://api.whatsapp.com/send?phone=56935658198&text=Hola,%20me%20gustar%C3%ADa%20hacer%20una%20reserva.%20" target="blank_">Hablémos<i class="fab fa-whatsapp icon"></i></a>
            </li>
        </ul>
    </div>
    <span class="col-12 by"><a href="http://www.caluwonder.com/" target="blank_">HECHO X CALUWONDER</a></span>
</div>
</div>
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
   	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</body>
</html>
